*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--light);
}
  

::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

:root{
    --light: #f8f8f8;
    --grey: #e6e6e6;
    --darkgrey: #555555;
    --yellow: #f5c518;
}


body {
    background-size: auto 100vh;
    background-position: center;
    background-image: linear-gradient(#306666,  #efd5c8);
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

a h1 {
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  color: var(--light);
  letter-spacing: 0.3em;
  text-shadow: 0 0 10px #fff, 0 0 20px var(--yellow);
}

h4,
#comment {
  color: #444444;
  font-size: 15px;
  margin: 5px;
}

p {
  color: var(--darkgrey);
  font-size: 13px;
  margin: 5px;
}

ul.dropdown.menu {
    margin-bottom: 10px;
}

.callout {
  min-height:25px;
  background: none;
  margin-bottom: 0;
  border: none;
  color: white;
  text-align: center; 
  letter-spacing: 0.2em;
}

.title-bar{
  background: none;
  border-left: solid 6px var(--yellow);
  margin-bottom: 20px;
}

.title-bar-title{
  color: var(--yellow);
  letter-spacing: 0.2em;
  font-family: 'Orbitron', sans-serif;
  font-weight:lighter;
}

.off-canvas-content,
.result-container {
  margin-left: 15%;
  margin-right: 15%;
}

.accordion-title {
    color: var(--darkgrey);
}

.slider-fill, 
.slider-handle {
    background: var(--yellow);
}

.slider-handle:active {
    background: #fff; 
    box-shadow: 0 0 10px #fff, 0 0 20px var(--yellow);
}

.comment-wrapper {
    text-align: left;
    margin: 5%;
    margin:5% 0 5% 0;
    color: #3d3d3d;
    border-bottom: lightgrey solid 1px;
}


.table-expand tr {
  border: 1px solid #e6e6e6;
}
  
.table-expand .text-right {
    padding-right: 3rem;
}
.table-expand-row.is-active .expand-icon::after {
  content: '-';
}

.table-expand-row .expand-icon::after {
  content: '+';
  float: right;
}

.table-expand-row-content {
  display: none;
}

.table-expand-row-content.is-active {
  display: table-row;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.table-expand-row-nested {
  background-color: #e6e6e6;
}

.table-expand-row:hover {
  background-color: rgb(148, 196, 196);
}

.slider-handle:hover {
  background: #fff; 
}


#movie-results >.filter-white {
  filter: brightness(0) invert(1);
  scale: 0.5;
}

#search-menu,
#fav-panel {
  background-image: linear-gradient(#306666,  #efd5c8);
  color: white;
  padding: 20px;
}

#search-menu > div > p {
  color: white;
}

#poster-card {
    background: #fff; 
    margin: 15px;
    position:relative;
    border-radius: 10px;
    border-style: none;
    overflow: hidden;
}

#poster-card:hover{
  box-shadow: 0 0 10px #fff, 0 0 20px var(--yellow);
}

#fav-trigger {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  color: white;
}

#fav-trigger > .fa-star:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px var(--yellow);
  animation: spin 3s linear infinite;
}

#fav-trigger .tooltip {
  position: absolute;
  line-height: 1.5;
  font-family:'Lato', sans-serif;
  font-size: 12px;
  background-color: #306666;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

#fav-trigger:hover .tooltip {
  right: -80px;
  top: -5px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0.4s;
}

#poster-card #fav-btn {
  position: absolute;
  float: none;
  bottom:0;
  right:0;
  margin: 0;
  color: #306666;
}

#poster-card #fav-btn:hover {
  animation: spin 3s linear infinite;
}


#poster-link {
  display: block;
  text-align: center;
}

#movie-results{
  justify-content: center;
}

#result-wrapper{
  justify-content: space-around;
}

#movie-results a{
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

#content-container,
#omdb-content{
    max-height: 55vh;
    overflow: scroll;
}

#post-sort,
#post-time {
    color: var(--darkgrey);
    font-size: 80%;
}

#search-result {
    width: 60%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px #fff, 0 0 10px var(--yellow);
}

#omdb-container-label,
#reddit-container-label,
#panel-sub-label,
#panel-post-label {
    color: var(--darkgrey);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}

#subBtn {
    margin-top: 10%;
    text-align: center;
}

#subBtn > .button:hover,
#panel-sub-label[aria-selected="true"],
#panel-post-label[aria-selected="true"] {
    background-color: var(--yellow);
    color: var(--darkgrey);
}

#item-container-label:hover,
#item-container-label:focus,
#omdb-container-label[aria-expanded="true"],
#reddit-container-label[aria-expanded="true"] {
    border-left-color:  var(--yellow);
    border-left-width: 6px;
}

#sub-icon {
    max-width: 3em;
    border-radius: 10%;
    margin: 1%;
}

#sub-name {
    border-bottom: var(--yellow) solid 2px;
    margin-right: 5%;
}

#date{
    margin-right: 5%;
}

#icon-section {
    background-size: 100%;
    background-color: var(--grey);
    margin-bottom: 10px;
}

#search-title {
    color: var(--yellow); 
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    font-size: 100%;
    border-left: solid 5px var(--yellow);
    margin-bottom: 3%;
}

#result-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 120%;
    text-shadow: 0 0 5px #fff, 0 0 10px var(--yellow);
} 

#comment-wrapper{
    color: var(--darkgrey);
    font-size: 12px;
    list-style-type: none;
}

#comment-wrapper #comment {
    color: #444444;
    font-size: 13px;
    margin-bottom: 3%;
    border-bottom: solid var(--grey) 1px;
}

#header-block,
#search-menu h4,
#search-menu label{
  color: var(--yellow);
} 

#tosearch-list {
  width: 100%;
  margin-left: auto;
}

#tosearch-list li {
  width: 100%;
  text-align: right;
  margin-bottom: 3%;
  list-style: none;
}

#tosearch-form>input{
  background-color: #306666; 
  color: #efd5c8;
  letter-spacing: 0.3em;
}

#tosearch-list li button{
  background-color: #306666;
  text-align: center;
  color: #efd5c8;
  line-height: 30px;
  min-width: 30px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

#tosearch-list li button:hover,
#tosearch-form>input:hover{
  color:white ;
  background-color: var(--yellow);
  text-shadow: 0 0 5px #fff, 0 0 10px var(--yellow);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 864px) {
  #search-result {
    width: 100vw;
  }
} 
