/* Beggining of stylesheet for inbeded table */

.table-expand {
    margin-top: 5rem;
    width: 100%;
  }
  
  .table-expand td {
    color: #8a8a8a;
  }
  
  .table-expand tr {
    border: 1px solid #e6e6e6;
  }
  
  .table-expand .text-right {
    padding-right: 3rem;
  }
  
  .table-expand-row.is-active .expand-icon::after {
    content: '-';
  }
  
  .table-expand-row .expand-icon::after {
    content: '+';
    float: right;
  }
  
  .table-expand-row-content {
    display: none;
  }
  
  .table-expand-row-content.is-active {
    display: table-row;
    -webkit-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
  }
  
  .table-expand-row-nested {
    background-color: #e6e6e6;
  }
  
  .table-expand-row:hover {
    background-color: rgb(148, 196, 196);
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
   /* End of stylesheet for imbeded table */
  
   body {
    background: #8a8a8a;
   }